@{
    ViewBag.Title = "Home Page";
}

<div>
	<br />
	<h4>
		Proyecto Páginas Web
		<a href="http://localhost:56983/#/AddEmployee">Agregar un empleado &raquo;</a>
		
	</h4>
	<br />
	<div class="row" ng-view>

	
	</div>


</div>